.html{
    scroll-behavior: smooth;
}
.box div{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
    filter: drop-shadow(0 0 5px gold); 
    border-radius: 20%; 
    animation: animet 15s linear infinite;
}
@keyframes animet{
    0%{transform: scale(0) translateY(0) rotate(0);opacity: 1;}
    100%{transform: scale(1) translateY(-150px) rotate(360deg);opacity: 0;}
}
.box div:nth-child(1){ 
    top: 0%; 
    left: 5%; 
    animation-duration: 15s; 
}
.box div:nth-child(2){
    top: 10%; 
    left: 5%; 
    animation-duration: 17s; 
}
.box div:nth-child(3){ 
    top: 8%; 
    left: 32%; 
    animation-duration: 5s;
}
.box div:nth-child(4){ 
    top: 0%; 
    left: 58%; 
    animation-duration: 8s; 
}
.box div:nth-child(5){ 
    top: 12%; 
    left: 84%; 
    animation-duration: 20s;
}
.box div:nth-child(6){ 
    top: 2%; 
    left: 30%; 
    animation-duration: 15s; 
}
.box div:nth-child(7){ 
    top: 13%; 
    left: 55%; 
    animation-duration: 22s;
}
.box div:nth-child(8){
    top: 7%; 
    left: 34%; 
    animation-duration: 27s;
}
.box div:nth-child(9){
    top: 3%; 
    left: 34%; 
    animation-duration: 13s;
}
.box div:nth-child(10){
    top: 22%; 
    left: 43%; 
    animation-duration: 10s;
}
.box div:nth-child(11){ 
    top: 21%; 
    left: 82%; 
    animation-duration: 14s;
}
.box div:nth-child(12){ 
    top: 22%; 
    left: 4%; 
    animation-duration: 6s;
}
.box div:nth-child(13){ 
    top: 9%; 
    left: 93%; 
    animation-duration: 17s;
}
.box div:nth-child(14){ 
    top: 17%; 
    left: 14%; 
    animation-duration: 17s;
}
.box div:nth-child(15){ 
    top: 16%; 
    left: 95%; 
    animation-duration: 13s;
}
.box div:nth-child(16){ 
    top: 6%; 
    left: 65%; 
    animation-duration: 8s;
}
.box div:nth-child(17){
    top: 15%; 
    left: 43%; 
    animation-duration: 4s;
}
.box div:nth-child(18){ 
    top: 6%; 
    left: 32%; 
    animation-duration: 6s;
}
.box div:nth-child(19){
    top: 17%; 
    left: 15%; 
    animation-duration: 19s;
}
.box div:nth-child(20){
    top: 13%; 
    left: 2%; 
    animation-duration: 15s;
}
.box div:nth-child(21){ 
    top: 0%; 
    left: 10%; 
    animation-duration: 17s;
}


body{
    margin: 0;
    padding: 0;
    background-color: #8fa073;
}
header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #d3d3d3;
    width: 100%;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(80, 80, 79, 0.5);
    z-index: 100;
    justify-content: space-between;
}
header img{
    width: 50px;
}
.gatau{
    padding-bottom: 10px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.hi{
    position: relative;
    color: #b8a8a6;
    font-size: xx-large;
    font-family: 'Lucida Handwriting';
    font-style: italic;
    text-shadow: 0px 0px 5px rgba(243, 240, 233, 0.5);
    transition: all 0.3s ease-in-out;
    margin-bottom: 0px;
    padding: 30px;
    z-index: 1;
}
.hi::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.hi:hover{
    transform: scale(1.05);
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.navi a{
    color: rgb(64, 85, 44);
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}
.navi a:hover{
    opacity: 0.7;
    background-color: rgb(88, 100, 91);
    color: rgb(181, 199, 141);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#home{
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("gamvar/welcpic.png"); 
    background-size: cover;
    background-position: center;
}
.kiri{
    clip-path: polygon(0 0, 50% 0, 70% 100%, 0 100%); 
}
.kiri h1{
    font-size: xx-large;
    text-decoration: overline;
}
.tag{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.funfact{
    width: fit-content;
    max-width: 38%;
    color: #e6fce3;
    background-color: #5e684f;
    border-radius: 5%;
    padding: 5px;
    width: 48%;
    padding: 15px;
    box-shadow: 10px 10px #3e4b2c;
}
.call{
    animation: boink 2s infinite;
    font-size: 25px;
    padding: 8px;
    width: 25%;
    background-color: #44473e;
    color: white;
    font-family: fantasy;
    border-style: outset;
    border-radius: 10px; 
    cursor: pointer; 
}
@keyframes boink{
    0%{transform: scale(1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}
}
.call:hover{
    transition: 0.3s;
    color:rgb(55, 61, 49);
    background-color: #7e8576;
}
.kiri{
    flex: 3;
    background-color: rgba(210, 180, 140, 0.5); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    z-index: 1; 
    clip-path: polygon(0 0, 30% 0, 50% 80%, 0 100%); 
}


#ket{
    display: flex;
    min-height: calc(100vh - 80px); 
    align-items: flex-start; 
}
.sideket{
    width: 20px;
    height: 600px;
    padding: 20px;
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    position: relative;
}
.pket{
    padding-top: 185px;
}
.about{
    height: 600px;
    padding: 20px;
    display: flex;
    flex: 1;
    text-align: center;
    background-color: rgb(218, 233, 214);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.about img{
    height: 500px;
    padding: 50px;
    object-fit: cover;
}
.tgt{
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 50px
}
.habout{
    color: #474e3b;
}
.tl{
    font-style: italic;
    color: #768a3f;
}


#shop{
    background-image: url("gamvar/wow.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.kiriw{
    text-align: left;
    padding-left: 25px;
}
.kanan{
    text-align: right;
    padding-right: 25px;
}
.shop{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background: rgb(245, 245, 245, 0.7);
}
.cardpi{
    border-style: outset;
    position: relative;
    width: 250px;
    background-color: #52471a;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 20px 25px rgba(196, 137, 137, 0.719);
    height: 500px;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
}
.cardpi:hover{
    transform: scale(1.1);
}
.cardpi img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}
.cardpi .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
}
.cardpi:hover .isi{
    bottom: 0;
}
.cardpi .isi h3{
    color: rgb(255, 237, 159);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardpi .isi .deskripsi{
    color: rgb(255, 236, 158);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardpi .isi .pricey{
    background-color: rgb(104, 93, 30);
    color: rgb(211, 198, 141);
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardpi .isi button{
    background: #79631c;
    color: #d1a95f;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
    font-size: 16px;
}
.cardpi .isi button:hover{
    background: rgb(189, 173, 103);
    color: rgb(105, 84, 25);
    transform: scale(1.1);
    box-shadow: 0 4px 8px #575103;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.cardpea{
    border-style: outset;
    position: relative;
    background-color: #4a464e;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
    transition: 0.5s;
}
.cardpea:hover{
    transform: scale(1.1);
}
.cardpea img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}
.cardpea .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
    text-align: center;
}
.cardpea:hover .isi{
    bottom: 0;
}
.cardpea .isi h3{
    color: rgb(44, 35, 83);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardpea .isi .deskripsi{
    color: rgb(44, 36, 63);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardpea .isi .pricey{
    background-color: rgb(128, 110, 177);
    color: rgb(54, 46, 77);
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardpea .isi button{
    background: #4c3879;
    color: #987fdd;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.cardpea .isi button:hover{
    background: #987fdd;
    color: #4c3879;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #2a0357;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.cardkri{
    border-style: outset;
    position: relative;
    background-color: #b18c3b;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
    transition: 0.5s;
}
.cardkri:hover{
    transform: scale(1.1);
}
.cardkri img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}
.cardkri .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
    text-align: center;
}
.cardkri:hover .isi{
    bottom: 0;
}
.cardkri .isi h3{
    color: rgb(83, 74, 35);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardkri .isi .deskripsi{
    color: rgb(63, 54, 36);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardkri .isi .pricey{
    background-color: #b1ad87;
    color: #5a4e1f;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardkri .isi button{
    background: #4d472e;
    color: #b1aa6e;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.cardkri .isi button:hover{
    background: #b1aa6e;
    color: #4d472e;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #575603;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.cardros{
    border-style: inset;
    position: relative;
    background-color: #532821;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
    transition: 0.5s;
}
.cardros:hover{
    transform: scale(1.1);
}
.cardros img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}
.cardros .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
    text-align: center;
}
.cardros:hover .isi{
    bottom: 0;
}
.cardros .isi h3{
    color: rgb(61, 23, 16);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardros .isi .deskripsi{
    color: rgb(49, 14, 14);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardros .isi .pricey{
    background-color: #b18787;
    color: #5a1f1f;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardros .isi button{
    background: #492624;
    color: #9e5e59;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.cardros .isi button:hover{
    background: #9e5e59;
    color: #492624;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #570603;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.cardion{
    border-style: inset;
    position: relative;
    background-color: #8b8527;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
    transition: 0.5s;
}
.cardion:hover{
    transform: scale(1.1);
}
.cardion img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}
.cardion .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
    text-align: center;
}
.cardion:hover .isi{
    bottom: 0;
}
.cardion .isi h3{
    color: rgb(61, 60, 16);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardion .isi .deskripsi{
    color: rgb(49, 43, 14);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardion .isi .pricey{
    background-color: #b1ab87;
    color: #5a4a1f;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardion .isi button{
    background: #494824;
    color: #9e9d59;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.cardion .isi button:hover{
    background: #9e9d59;
    color: #494824;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #4f5703;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}
.cardspi{
    border-style: inset;
    position: relative;
    background-color: #27528b;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
    height: 400px;
    transition: 0.5s;
}
.cardspi:hover{
    transform: scale(1.1);
}
.cardspi img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    height: 100%;
    object-fit: cover;
}
.cardspi .isi{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: bottom 0.5s;
    text-align: center;
}
.cardspi:hover .isi{
    bottom: 0;
}
.cardspi .isi h3{
    color: rgb(16, 41, 61);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 5000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px rgba(243, 240, 233, 1);
}
.cardspi .isi .deskripsi{
    color: rgb(14, 30, 49);
    font-size: 0.9em;
    margin-bottom: 15px;
}
.cardspi .isi .pricey{
    background-color: #87a7b1;
    color: #1f4c5a;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 5px;
}
.cardspi .isi button{
    background: #243049;
    color: #59799e;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.cardspi .isi button:hover{
    background: #59799e;
    color: #243049;
    transform: scale(1.1);
    box-shadow: 0 4px 8px #033157;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s;
}


#reach2{
    display: flex;
    min-height: calc(100vh - 80px); 
    align-items: flex-start; 
}
.riteket{
    width: 20px;
    height: 600px;
    padding: 20px;
    background-color: #4a4a4a;
    color: white;
}
.rket{
    padding-top: 140px;
}
.ashes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(218, 233, 214);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.kekiri{
    align-items: left;
    text-align: left;
}
.kekiri h3{
    background-color:#9dc965;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
}
.kekiri p{
    margin-left: 10px;
    color: #cee666;
}
.likecard1{
    order: 1;
    position: relative;
    width: 600px;
    background-color: #455c4c;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin-left: 70px;
    margin-bottom: 60px;
    margin-top: 35px;
}
.likecard2{
    order: 1;
    position: relative;
    width: 600px;
    background-color: #455c4c;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    height: 40%;
    margin-left: 170px;
    margin-top: 60px;
    margin-bottom: 35px;
}
.chick{
    margin-bottom: 15px;
}
.chick label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}
.chick input,.chick  textarea{
    width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.chick textarea{
    height: 100px;
    resize: vertical;
}
.ou{
    width: 100%;
    padding: 12px;
    background-color: #304216;
    color: #77b36f;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.ou:hover{
    background-color: #77b36f;
    color: #304216;
    transition: 0.5s;
}
.meoww{
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 15px; 
    margin-right: 20px;
    transition: transform 0.3s ease; 
}
.meoww img{
    display: block; 
    width: 100%; 
    height: 540px;
    object-fit: cover;
    border-radius: 15px; 
}
.meoww .ho{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; 
}
.meoww:hover .ho{
    bottom: 0; 
}
.meoww .ho h2{
    color: rgb(184, 190, 90);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0 0 15px rgb(202, 186, 148);
}
.meoww .ho p{
    color: rgb(211, 209, 91);
    font-size: 0.9em;
    margin-bottom: 15px;
}


footer{
    background-color: #3b4429;
    color: #ffffff;
    height: 50px;
    border-top-style: dashed;
}
footer .medsos{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 5px;
}
footer .medsos a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}
.medsos a:hover{
    opacity: 0.7;
    background-color: rgb(203, 245, 214);
    color: rgb(71, 80, 54);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}